services:
  vision-ws:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        USER_UID: ${USER_UID:-1000}
    image: wintera1233/vision:humble-numpy-opencv
    container_name: vision-ws
    stdin_open: true
    tty: true
    privileged: true
    network_mode: host
    command: ["/bin/bash"]
    working_dir: /home/vision/vision_ws
    environment:
      - DISPLAY=${DISPLAY}
      - ROS_LOCALHOST_ONLY=0
      - ROS_DOMAIN_ID=0
      - RMW_IMPLEMENTATION=rmw_fastrtps_cpp
      - ROS_WORKSPACE=/home/vision/vision_ws
    volumes:
      - /dev:/dev
      - ../:/home/vision/vision_ws
      - /tmp/.X11-unix:/tmp/.X11-unix:rw  # for imshow
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: all
    #           capabilities: [gpu]